$creamy-white: #ffeecb;
$dark-soft-blue: #4169e1;

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 10px;
    }

    li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
    }

    li a:hover {
        background-color: #ddd;
    }
}

.navbar:hover, .section1:hover, .section2:hover {
    transform: scale(1.2);
    transition: transform 2s ease;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $creamy-white;

    h1 {
        color: $dark-soft-blue;
        font-size: 3em;
    }
}




.section2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 300px;
    margin-left: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    h3 {
        color: #333;
        font-size: 2em;
        margin-bottom: 10px;
    }

    p {
        color: #666;
        font-size: 1.2em;
        text-align: center;
    }




}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    h3 {
        color: #333;
        font-size: 2em;
        margin-bottom: 10px;
    }

    p {
        color: #666;
        font-size: 1.2em;
        text-align: center;
    }




}

.exbox {
    display: flex;
    justify-content: center;

 
}
@mixin progressbar($class1, $class2, $class3, $percentage){
    .#{$class1} {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
    }
    
    .#{$class2} {
        display: flex;
        background-color: rgb(51, 253, 0);
        justify-content: center;
        p{
            color: #333;
            font-size: 2em;
        }
    }
    
    @keyframes progress {
        0% {
            width: 0;
        }
        100% {
            width: #{$percentage};
        }
    }
    
    .#{$class2}.#{$class3} {
        animation: progress 2s ease forwards;
    }
}

@include progressbar('Rust', 'progress-bar', 'in-view', '50%');