html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.navbar li {
  display: inline-block;
  margin-right: 3%;
}
.navbar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}
.navbar li a:hover {
  background-color: #ddd;
}

.navbar:hover {
  transform: scale(1.2);
  transition: transform 2s ease;
}

.section1:hover, .section2:hover {
  transform: scale(1.2);
  transition: transform 2s ease;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 218, 148);
}
.banner h1 {
  color: rgb(65, 105, 225);
  font-size: 3em;
}

body {
  background-color: #ffffff;
}

.section1 {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-right: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.section1 h3 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}
.section1 p {
  color: #666;
  font-size: 1.2em;
  text-align: center;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
  margin-left: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.section2 h3 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}
.section2 p {
  color: #666;
  font-size: 1.2em;
  text-align: center;
}

.progress-container {
  margin-top: 50%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.talk {
  background-color: rgb(255, 218, 148);
  display: flex;
  justify-content: center;
  margin: 20%;
}

.Rust, .progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  background-color: aqua;
  border-radius: 2rem;
}
.progress-bar p {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

.text {
  width: 100%;
}
.text h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

@keyframes bam {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}
.progress-bar.in-view {
  animation: bam 2s ease forwards;
}

.Rust1, .progress-bar1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar1 {
  background-color: aqua;
  border-radius: 2rem;
}
.progress-bar1 p {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

.text1 {
  width: 100%;
}
.text1 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

@keyframes bim {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.progress-bar1.in-view {
  animation: bim 2s ease forwards;
}

.Rust2, .progress-bar2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar2 {
  background-color: aqua;
  border-radius: 2rem;
}
.progress-bar2 p {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

.text2 {
  width: 100%;
}
.text2 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

@keyframes bom {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}
.progress-bar2.in-view {
  animation: bom 2s ease forwards;
}

@media (min-width: 768px) {
  .text, .text1 {
    width: 70%;
  }
}
.contactinfo {
  display: flex;
  align-items: center;
  margin-top: 5%;
  flex-direction: column;
  background-color: aqua;
  margin-left: 0%;
  margin-right: 0%;
}/*# sourceMappingURL=styles.css.map */