$creamy-white: rgb(255, 218, 148);
$dark-soft-blue: rgb(65, 105, 225);

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 3%;
    }

    li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
    }

    li a:hover {
        background-color: #ddd;
    }
}

.navbar:hover {
    transform: scale(1.2);
    transition: transform 2s ease;
}



.section1:hover, .section2:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
    
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: $creamy-white;

    h1 {
        color: $dark-soft-blue;
        font-size: 3em;
    }
    div {
        display: flex;
        justify-content: space-between; // Added semicolon here
        img {
            width: 50%;
            height: 50%;
        }
    }
    img:hover {
        transform: spin(360deg);
        transition: transform 1s ease;
    }
}


body{
    background-color: #ffffff;
}



.section1, .section2{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 5%;
    padding: 20px;
    
    
    h3 {
        color: #000000;
        font-size: 2em;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
    }

    p {
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2em;
        text-align: center;
    }




}



.progress-container {
    margin-top: 50%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    

}
.talk{
    background-color: $creamy-white;
    display: flex;
    justify-content: center;
    margin: 20%;
}

@mixin progressbar($class1, $class2, $class3, $percentage, $animation, $class4) {
    .#{$class1}, .#{$class2} {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .#{$class2}{
        background-color: rgb(30, 255, 0);
        border-radius: 2rem;
        p{
            font-size: 100%;
            font-family: 'Roboto', sans-serif;
        }

    }

    .#{$class4} {
        width: 100%;
  
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1em;
        }
 
    }



    @keyframes #{$animation} {
        0% {
            width: 0;
        }
        100% {
            width: #{$percentage};
        }   
    }

    .#{$class2}.#{$class3} {
        animation: #{$animation} 2s ease forwards;
    }
}

@include progressbar('Rust', 'progress-bar', 'in-view', '50%', 'bam', "text");
@include progressbar('Rust1', 'progress-bar1', 'in-view', '50%', 'bim', "text1");
@include progressbar('Rust2', 'progress-bar2', 'in-view', '50%', 'bom', "text2" );

// Media query for larger screens
@media (min-width: 768px) {
    .text, .text1 {
        width: 70%;
    }
}
.contactinfo{
    display: flex;
    align-items: center;
    margin-top: 5%;
 
    flex-direction: column;
    background-color: aqua;
    margin-left: 0%;
    margin-right: 0%;


}